/* #region common */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bl-primary: rgb(255, 105, 0);
    --bl-dark: rgb(26, 26, 26);
    --bl-light: rgb(230, 231, 231);
    --bl-black: rgb(0, 0, 0);
    --bl-white: rgb(255, 255, 255);
    --bl-price: rgb(255, 0, 0);
    --bl-label: rgb(0, 128, 0);
}

body {
    font-family: Helvetica, sans-serif;
}

header {
    background-color: var(--bl-primary);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

main {
    padding-top: 4rem;
}

a {
    text-decoration: none;
}

footer {
    background-color: var(--bl-dark);
    color: var(--bl-white);
}


header a, footer a, .login {
    color: var(--bl-white);
}


header .center.d_flex, footer .center.d_flex {
    justify-content: space-between;
    align-items: center;
}
/* #endregion common */


/* #region utilities */
.center {
    width: 80%;
    max-width: 1170px;
    margin: auto;
}

.d_flex {
    display: flex;
}

.col_4 {
    width: calc(100% / 12 * 4);
}

.py_2 {
    padding: 1rem 0;
}
.py_4 {
    padding: 2rem 0;
}

.mb_2 {
    margin-bottom: 1rem;
}

.fz_1 {
    font-size: 0.75rem;
}
/* #endregion utilities */


/* #region header */


header .center img {
    width: 100px;
}

.login {
    text-align: end;
}

.logo {
    text-align: center;
}

.logo > a {
    display: inline-block;
}

header nav > a {
    font-weight: bold;
    margin-right: 0.5rem;
}

.login i{
    margin-left: 0.5rem;
}

.login i:hover{
    cursor: pointer;
}
/* #endregion header */


/* #region main */

.item_container.d_flex {
    flex-wrap: wrap;
    justify-content: space-between;
}

.item_view {
    width: calc(100% / 3 - 1rem);
    padding: 2rem 0;
}

.item_info a {
    color: var(--bl-black);
}

.item_info .brand:hover a, .item_info .item_name:hover a {
    text-decoration: underline;
}

.item_info .item_name {
    padding: 0.25rem 0;
}

.item_pic {
    position: relative;
    height: 550px;
}

.item_pic img {
    width: 100%;
}

.item_pic img:last-of-type, .item_pic:hover img:first-of-type {
    display: none;
}

.item_pic:hover img:last-of-type {
    display: block;
}

.item_pic > span.heart {
    position: absolute;
}

.item_pic .discount_info {
    left: 0;
    bottom: 2.5rem;
    position: absolute;
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--bl-white);
}

span.rebate {
    background-color: var(--bl-price);
    padding: 0.3rem 0.6rem;

}

span.label {
    background-color: var(--bl-label);
    padding: 0.3rem 0.6rem;
}

span.heart {
    background-color: var(--bl-white);
    padding: 0.75rem;
    right: 0;
    top: 1rem;
}


.item_pic .heart:hover {
    color: var(--bl-price);
}

.brand, .price {
    font-size: 0.8rem;
}

.item_info .item_name {
    font-weight: bold;
}

.item_info .price span.full_price {
    color: var(--bl-black);
    text-decoration: line-through;
}

.item_info .price span:first-of-type {
    color: var(--bl-price);
    font-weight: bold;
}

/* #endregion main */


/* #region footer */

.foot_left a{
    margin-right: 1rem;
}

.foot_right .social a {
    margin-right: 1rem;
    font-size: 1.25rem;
}
/* #endregion footer */

/* #region debug */







/* #endregion debug */